.site-header{
    background-color:#32a89e;
    color:#ecfdf9;
    height:100vh;
    font-family:monospace;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
.profile-pic{
    border-radius: 50%;
    height:200px;
    width: 200px;
    box-shadow:#2da79c 2px 5px 5px;
}
.site-header-content{
    margin:10px;
}

.course-link{
    color:#ecfdf9;
}
body{
    margin:0;
}
